$bright-color: #FADEC6;

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    color: #3C3F50;
    font: lighter 18px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #F4F4F4;
}

.left-container {
    height: 100vh;
    width: 45%;
    background: $bright-color;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 40%;
    }
    position: absolute;
    z-index: -1;
    animation: slide 2s ease-in-out;
}

@keyframes slide {
    from {
        width: 0;
    }
    to {
        width: 45%;
    }
}

.right-container {
    float: right;
    overflow: auto;
    height: 100vh;
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 5%;
    transition: box-shadow 1.5s;

    h1 {
        font-size: 10em;
    }

    p {
        font-size: 1.3em;
    }

    .btn {
        margin-top: 40px;
        padding: 10px 30px;
        border-radius: 3px;
        background: #D15660;
        color: #FFF;

        &:hover {
            box-shadow: 0 3px 20px rgba(0, 0, 0, .1);
        }
    }
    animation: slide2 2s ease-in-out;

    &.shadow {
        box-shadow: -20px 0 20px rgba(0, 0, 0, .03);
    }
}

@keyframes slide2 {
    from {
        width: 100%;
    }
    to {
        width: 55%;
    }
}

@media (max-width: 800px) {
    .left-container {
        display: none;
    }

    .right-container {
        width: 100%;
        float: unset;
    }
}
